/*.iml
/*.log
/.apt_generated
/.classpath
/.factorypath
/.gradle
/.idea
/.nb-gradle
/.project
/.settings
/bin
/build
output.txt
/*.png
**/.vagrant/
**/license.cxl
**/ubuntu-bionic-18.04-cloudimg-console.log